<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/staff/dashboard.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .ORDERS {
            margin-left: 280px;
            font-family: 'Roboto', sans-serif;
        }

        .ORDERS > header {
            position: fixed;
            padding: 15px;
            width: calc(100vw - 290px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid rgb(202, 202, 202);
            background-color: white;
        }

        .ORDERS > header > h1{
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .profile_container {
            width: 200px;
            height: 55px;
            background-color: #D9D9D9;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 5px 0px 5px 15px;
            gap: 15px;
        }

        .profile_icon {
            width: 38px;
            height: 38px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .desc {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .name {
            font-weight: bold;
            font-size: 1.05rem;
        }

        .role {
            font-size: 0.9rem;
        }

        .active_users_container  {
            padding: 15px;
            width: calc(100vw - 290px);
            height: 450px;
        }

        .active_users_container > h1 {
            font-size: 1.7rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .bar {
            margin-top: 17px;
            width: 63px;
            height: 5px;
            background-color: var(--black);
        }

        .boxes {
            width: 90%;
            margin: 0px auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 35px;
        }

        .add_ {
            width: 320px;
            height: 250px;
            background-color: var(--dark-blue);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            color: var(--white);
            border-radius: 15px;
            box-shadow: rgba(61, 60, 93, 0.56) 0px 22px 70px 4px;
        }

        .total_staff, .total_products, .total_retailers {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .role_type {
            font-size: 2rem;
        }
        .order-list {
            min-height: calc(100vh - 300px);
        }
        .order-card {
            margin-left: 10px;
            width: calc(100vw - 310px);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        }
    </style>
</head>
<body>
    <!-- <h1>Staff</h1> -->
    <div class="wrapper">
        
        <div class="sidebar_container">
            <div class="logo_container">
                Inventify
            </div>
            <div class="navigations">
                <div class="nav_item" >
                    <div class="nav_icon">
                        <img src="../images/grid.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="/staff-dashboard/<%= staff_username %>" class="nav_title">Dashboard</a>
                    </div>
                </div>
                <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/profile.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="/staff-profile/<%= staff_username %>" class="nav_title">Profile</a>
                    </div>
                </div>
                <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/verify.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="#" class="nav_title">Approvals</a>
                    </div>
                </div>
                <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/unboxing.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="/staff-products/<%= staff_username %>" class="nav_title">Products</a>
                    </div>
                </div>
                <div class="nav_item" id="mainLink">
                    <div class="nav_icon">
                        <img src="../images/unboxing.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="/staff-orders/<%= staff_username %>" class="nav_title">Orders</a>
                    </div>
                </div>
                <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/marketplace.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="#" class="nav_title">Retailers</a>
                    </div>
                </div>
                <!-- <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/email.png" alt="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="#" class="nav_title">Messages</a>
                    </div>
                </div> -->
            </div>
            <div class="logout_button">
                <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/settings.png" alt ="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="#">Settings</a>
                    </div>
                </div>
                <div class="nav_item">
                    <div class="nav_icon">
                        <img src="../images/log-out.png" alt ="" width="20px" height="20px">
                    </div>
                    <div>
                        <a href="#" class="logout_btn">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ORDERS">
            <header>
                <h1 class="font-bold">ORDERS</h1>
                <div class="profile_container">
                    <div class="profile_icon">
                        <img src="https://api.dicebear.com/7.x/initials/svg?seed=<%= firstName %> <%= lastName %>" alt=""
                        width="100%" height="100%" style="border-radius: 50%;"
                        >
                    </div>
                    <div class="desc">
                        <p class="name">
                            <%= staff_username %>
                        </p>
                        <p class="role">Staff</p>
                    </div>
                </div> 
            </header>
            <div class="main_container mt-[85px]">
                <div class="fixed top-[90px] right-[10px] text-[20px] font-semibold">
                    <label for="filter" class="flex gap-1 bg-white px-5 py-3 rounded-[15px] selectForm">
                        <img src="../images/filter.png" alt="" width="25px" height="25px">
                        <select name="filter" id="filter" class="outline-none border-[#071E41] font-normal rounded-[6px]">
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </label>
                </div>

                <div class="order-list flex flex-col gap-5 mt-[160px]">

                    <% for(let i = 0; i < orderDetails.length; ++i) { %>
                        <div class="order-card rounded-[15px]">
                            <div class="w-full p-5">
                                <div class="flex justify-between text-[20px]">
                                    <h1>Transaction ID 
                                        <span id="transactionID" class="ml-2 text-[18px] tracking-widest font-semibold">
                                            <!-- 65546c5486041c6c70492333 -->
                                            <%= orderDetails[i]._id %>
                                        </span>
                                    </h1>
                                    <div class="text-[18px] flex gap-5 font-semibold">
                                        <p id="orderStatus" class="font-semibold w-[150px] bg-[#e0f2fe] px-2 py-2 flex justify-center items-center rounded-[5px] tracking-wide text-center">
                                            <%= orderDetails[i].status %>
                                        </p>
                                        <% if(orderDetails[i].status === 'Pending') { %>
                                            <button id="send-approval-btn" class="flex gap-[3px] items-center bg-[#86efac] rounded-[5px] px-2 py-2 hover:bg-[#4ade80] transition-all duration-200">
                                                <img src="../images/airplane.png" alt="" width="25px" height="25px">
                                                Send For Approval
                                            </button>
                                            <button id="discard-btn" class="flex gap-[3px] items-center bg-[#f87171] rounded-[5px] px-2 py-2 hover:bg-[#ef4444] transition-all duration-200">
                                                <img src="../images/delete.png" alt="" width="25px" height="25px">
                                                Discard
                                            </button>
                                        <% } else { %> 
                                            <button id="send-approval-btn" class="flex gap-[3px] items-center bg-[#94a3b8] rounded-[5px] px-2 py-2 transition-all duration-200">
                                                <img src="../images/airplane.png" alt="" width="25px" height="25px">
                                                Send For Approval
                                            </button>
                                            <button id="discard-btn" class="flex gap-[3px] items-center bg-[#94a3b8] rounded-[5px] px-2 py-2 transition-all duration-200">
                                                <img src="../images/delete.png" alt="" width="25px" height="25px">
                                                Discard
                                            </button>  
                                        <% } %> 
                                    </div>
                                </div>
                                <div class="mt-[8px] font-semibold text-[19px] flex flex-col gap-[5px]">
                                    <% for(let j = 0; j < orderDetails[i].products.length; ++j) { %>
                                        <p> 
                                            <span class="text-[#9ca3af] font-bold">
                                                <!-- 1 x -->
                                                <%= orderDetails[i].products[j].qtyStrip %> <span> x </span>
                                            </span> 
                                            <!-- Paracetamol -->
                                            <%= orderDetails[i].products[j].productName %>
                                        </p>
                                        <!-- <p> <span class="text-[#9ca3af] font-bold">5 x</span> Amoxicillin</p> -->
                                    <% } %>
                                </div>
                                <div class="mt-[15px] font-normal text-[20px] flex justify-between">
                                    <p>Ordered Date 
                                        <span class="ml-2 text-[18px] tracking-widest font-semibold">
                                            <!-- 2023-11-15 -->
                                            <%= orderDetails[i].orderCreatedAt %>
                                        </span>
                                    </p>
                                    <p class="font-bold tracking-wide">&#8377;
                                        <!-- 345.64 -->
                                        <%= orderDetails[i].totalAmount %>
                                    </p>
                                </div>
                                <div class="flex gap-[500px] items-center">
                                    <p class="mt-[15px] font-normal text-[20px] flex items-center">Address Details
                                        <span class="ml-2 font-semibold text-[18px]">
                                            <%= orderDetails[i].address %>
                                        </span>    
                                    </p>
                                    <p class="mt-[15px] font-normal text-[20px] flex items-center">Retailer Contact
                                        <span class="ml-2 font-semibold text-[18px]">
                                            <%= orderDetails[i].phoneno %>
                                        </span>  
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="logout_page">
        <div class="logout_popup">
            <h1>Log out</h1>
            <div>Are you Sure ?</div>
            <div class="logout_btns">
                <button class="cancel">Cancel</button>
                <button class="yes">Yes</button>
            </div>
        </div>
    </div>

    <script src="../javascript/staff/dashboard.js"></script>
    <script src="../javascript/staff/order.js"></script>
</body>
</html>